<?xml version="1.0"?>  
<class>  
    <ip>  
        <doctor>http://localhost:8080</doctor> 
		<room>http://localhost:8080</room>
		<patient>http://localhost:8080</patient>
		<payment>http://localhost:8080</payment>
		<hospital>http://localhost:8080</hospital>
		<appoiment>http://localhost:8080</appoiment>			
    </ip>  
</class>
