<?xml version="1.0"?>  
<class>  
    <ip>  
        <doctor>http://192.168.1.100:8080/doctors/webapi/myresource</doctor> 
		<room>http://192.168.1.10:8080</room>
		<patient>http://192.168.1.100:8080</patient>
		<payment>http://192.168.1.100:8080</payment>
		<hospital>http://192.168.1.100:8080</hospital>
		<appoiment>http://192.168.1.100:8080</appoiment>
		<user>http://192.168.1.100:8080/login/webapi/login</user>
		<gateway>http://192.168.1.100:8080/gateway/webapi</gateway>
    </ip>   
</class>